include versioneer.py
include digitalearthau/_version.py
include digitalearthau/*.sh
include digitalearthau/testing/*.conf
recursive-include digitalearthau/config *.yaml
recursive-include digitalearthau/harvest *.yaml
