--extra-index-url https://packages.dea.ga.gov.au/
datacube
datacube-alchemist
datacube-stats
dea_cogger
digitalearthau
eodatasets
eodatasets3
fc
hdstats
odc-algo
odc-apps-dc-tools
odc-aws
odc-dscache
odc-dtools
odc-geom
odc-index
odc-io
odc-ppt
odc-ui
wofs>1.5,<1.6,!=1.5.5,!=1.5.6
nbval
