--extra-index-url https://packages.dea.ga.gov.au/
datacube-alchemist
datacube-stats
dea_cogger
digitalearthau
eodatasets3
fc
hdstats
odc-algo
odc-apps-dc-tools
odc-aws
odc-dscache
odc-dtools
odc-geom
odc-index
odc-io
odc-ppt
odc-ui
wofs
