
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_AU]=gnome-panel-launcher
Name[en_AU]=Digital Earth Australia
Comment[en_AU]=Jupyter Notebooks for Digital Earth Australia
Exec=bash -c "module use /g/data/v10/public/modules/modulefiles && module load agdc-py3-prod && jupyter notebook /g/data/v10/public/modules/modulefiles/digitalearthau/Digital\\ Earth\\ Australia.ipynb"
Name=DEA Jupyter Notebook
Comment=Jupyter Notebooks for Digital Earth Australia
Icon=/g/data/v10/public/modules/modulefiles/digitalearthau/dea-icon.png
